@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

* {
    margin:0;
    padding:0;
    list-style-type: none;
}
body{
    padding-top:20px;
    
}
.header{
    margin-top:-20px;
    background-color: white;
    position: fixed;
    z-index: 99;
    width: 100%;
    float: left;
    
   
}
.header h1{
    width: 350px;
    margin: 0 auto;
    background-color: white;
    float:left;
    
}

.header p{
    float: right;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 20px;
    font-family: initial;
    cursor:pointer;
    
}
.header a{
   color: inherit;
}

#searchcontainer{
    margin:0 auto;
    width:270px;
    padding-top: 30px;
    height: 50px;

}
#searchbox{
    width: 220px;
    height: 30px;
    border: 3px solid skyblue;
    border-radius: 8px;
    margin:0 auto;
    margin: top 50px;
}
#headset{
    float:left;
    
}

.nav{
    padding-top :65px;
    position: fixed;
    z-index:98;
    width: 100%;
    float: left;
    height: 50px;
    text-align: center;
    background-color: rgb(73, 235, 221); 
    opacity: 0.9;
}
.nav p{ 
    width: 250px;
    justify-content: center;
    margin:auto;
    padding-top: 2px;
    margin-top: 7px;
    display:inline-block;
    font-size: 30px;
    font-family:'Hanna';
    cursor: pointer;
    color: black;
    font:bolder;
}
.ticketshow{
    margin:0 auto;
    margin-top: 160px;
    width: 750px;
    padding: 0 0 0 400px;
    position: relative; 
    box-sizing: border-box;
    
}
.ticketshow .img{
    position: absolute;
    left: 0;
    top:0;
}
.ticketshow h2{
    font-size:24px;
    line-height: 26px;
    padding:0 0 20px; border-bottom: 2px solid #333;
    color:#232323;
}
.ticketshow table th,
.ticketshow table td
{
    font-size:15px;
    color:#444; 
    text-align: left;
    padding: 8px 0;
}

.ticketshow table td.price{
    font-size: 22px;
}
.ticketshow table td.total{
    font-size:19px; color:#0a56a9;
}
.ticketshow tale td.total b{
    font-size:22px;
}
.ticketshow table .length{
    position: relative;
    border: 1px solid #c6c6c6;
    width: 45px;
    height: 32px;
}
.ticketshow table .length input{
    width: 44px;
    height: 32px;
    border: none;
    text-align: center;
}
.ticketshow table .length a {
    overflow: hidden;
    color:transparent;
    position: absolute;
    right: 0;
    top:0;
    width :25px;
    height: 16px;
}
.ticketshow .btn{
    text-align: center;
}
.ticketshow .btn > a {
    display: inline-block;
    width : 136px;
    height: 42px;
    font-size: 16px;
    color:#fff; 
    border-radius: 4px;
}
.ticketshow .btn > a.btn1{
    margin-top: 10px;
    background: #0a56a9;
    padding-top: 14px;
   
    text-decoration: none;
}
#footer{
    margin-top: 60px;
    font : inherit;
    vertical-align: baseline;
    border-top:1px solid #666 ;
    margin-bottom: 30px;
    text-align: center;
}
.footer{
    width: 1200px;
    margin:0 auto;

    
   
}
.footercontainer{
    color: #666;
    
}

   
.footercontainer ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    width: 1200px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}


.footer ul li a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    
    
    
}
.footer span{
    font-size: 12px;
    
    
}
 